*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
}

img#photo_img{
  display: block;
  min-width : 350px;
  min-height : 350px;
  max-width: 50%;
  max-height : 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;

}

#god_container{

  display : grid;
  max-height: 7vh;
  grid-template-columns: 0.06fr 1.0fr;
}

#btn_containe{
  background-color: #000028;
}

#rest_container{
  overflow : hidden;
  border: 1px solid #000028;
  background-color: #000028;
}


#burger{
  width: 60px;
  height :60px;
  cursor : pointer;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 9px;
  margin-left:30%;
  margin-top:30%;
}


#burger_2{
  width:60px;
  height: 58px;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 9px;
  margin-left:6%;
  margin-top:8%;

  background-image: "hamburger.jpg";
}

.hamburger{
  width:47px;
  height: 47px;
  background-position: center;
}

#pres_sentence{
  border-color: #000000;
  text-align: center;
  margin-top: 8vh; /* viewport height */
  color : #FFFF00;
  font-size: 90px;
  font-family: 'Big Shoulders Display', cursive;
}

#container{
  overflow : hidden;
  display : grid;
  height : 93vh;
  grid-template-rows: 0.1fr 2fr;
}

#rest_container.active{
  overflow: hidden;
  filter:blur(6px);
}

#container.active{
  overflow: hidden;
  filter:blur(6px);
}


#contain1{
  background-color: #000028;
}

#contain2{
  display : grid;
  grid-template-columns: 1.0fr 1.7fr;
}

#contain2_1{
  background-color : #000028;
}

#contain2_2{
  background-color : #000028;
  display : grid;
  grid-template-columns: 0.01fr 1fr;
}

#barre{
  background-color : #000028;
}

#sidebar{
  position: absolute;
  z-index:0;
  width : 400px;
  height: 100%;
  background-color: #FFFF00;
  left: -400px;
  transition: .4s;
}

#sidebar.active{
  left : 0;
  z-index: 5;

}

#texte{
  font-family: 'Big Shoulders Display', cursive;
  font-style: italic;
  font-size: 32px;
  color: #FFFF00;
  margin-left :8%;
  margin-top:17vh;
}
.vertical-line{
  border-right: 1px solid #FFFF00;
  display: inline-block;
  height: 400px;
  margin: 0 20px;
  margin-top: 6vh;
}

#sidemenu{
  padding:30px 0;
  vertical-align: middle;
}

#sidemenu ul li a{
   display : block;
   height: 50px;
   width: 100%;
   font-family: 'Big Shoulders Display', cursive;
   font-size: 25px;
   text-decoration: none;
   color:black;
   padding-top: 10px;

}

#sidemenu ul li{
   border-top: 1px solid rgba(255,255,2550,0.5);
   border-bottom: 1px solid rgba(0,0,0,0.5);
}


#sidemenu ul li:hover{
   background: #000023;
}

#sidemenu ul a:hover{
   color: white;
}
