*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
}

img#photo_img{
  display: block;
  min-width : 350px;
  min-height : 350px;
  max-width: 50%;
  max-height : 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;

}

#god_container{

  display : grid;
  max-height: 7vh;
  grid-template-columns: 0.06fr 1.0fr;
}

#btn_containe{
  background-color: #000028;
}

#rest_container{
  overflow : hidden;
  border: 1px solid #000028;
  background-color: #000028;
}


#burger{
  width: 60px;
  height :60px;
  cursor : pointer;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 9px;
  margin-left:30%;
  margin-top:30%;
}


#burger_2{
  width:60px;
  height: 58px;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 9px;
  margin-left:6%;
  margin-top:8%;
  background-image: "hamburger.jpg";
}

.hamburger{
  width:47px;
  height: 47px;
  background-position: center;
<<<<<<< HEAD
  padding-left: 6px;
>>>>>>> 4aae4e001d2505d325e1e4c8880c0932979283cd
}

#pres_sentence{
  border-color: #000000;
  text-align: center;
  margin-top: 8vh; /* viewport height */
  color : #FFFF00;
  font-size: 90px;
  font-family: 'Big Shoulders Display', cursive;
}

#container{
  overflow : hidden;
  display : grid;
  height : 93vh;
  grid-template-rows: 0.1fr 2fr;
}

#rest_container.active{
  overflow: hidden;
  filter:blur(6px);
}

#container.active{
  overflow: hidden;
  filter:blur(6px);
}


#contain1{
  background-color: #000028;
}

#contain2{
  display : grid;
  grid-template-columns: 1.0fr 1.7fr;
}

#contain2_1{
  background-color : #000028;
}

#contain2_2{
  background-color : #000028;
  display : grid;
  grid-template-columns: 0.01fr 1fr;
}

#barre{
  background-color : #000028;
}

#sidebar{
  position: absolute;
  z-index:0;
  width : 400px;
  height: 100%;
  background-color: #FFFF00;
  left: -400px;
  transition: .4s;
}

#sidebar.active{
  left : 0;
  z-index: 5;

}

#texte{
  font-family: 'Big Shoulders Display', cursive;
  font-style: italic;
  font-size: 32px;
  color: #FFFF00;
  margin-left :8%;
  margin-top:17vh;
}
.vertical-line{
  border-right: 1px solid #FFFF00;
  display: inline-block;
  height: 400px;
  margin: 0 20px;
  margin-top: 6vh;
}
=======
*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
}

img#photo_img{
  display: block;
  min-width : 350px;
  min-height : 350px;
  max-width: 50%;
  max-height : 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;

}

#god_container{

  display : grid;
  max-height: 7vh;
  grid-template-columns: 0.06fr 1.0fr;
}

#btn_containe{
  background-color: #000028;
}

#rest_container{
  overflow : hidden;
  border: 1px solid #000028;
  background-color: #000028;
}


#burger{
  width: 60px;
  height :60px;
  cursor : pointer;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 9px;
  margin-left:30%;
  margin-top:30%;
}


#burger_2{
  width:60px;
  height: 58px;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 9px;
  margin-left:6%;
  margin-top:8%;
  background-image: "hamburger.jpg";
}

.hamburger{
  width:47px;
  height: 47px;
  background-position: center;
=======
  padding-left: 6px;
}

#burger_2:hover{
  z-index:10;
}

#burger_2.active{
  z-index:11;
}

#burger_2 span{
  width : 33px;
  height: 5px;
  display: block;
  background-color : #000000;
  position: absolute;
  border-radius: 9px;
  top: 50%;
  margin :10%;
  transform: translateY(-7px); /* pour que la barre soit bien au milieu */
}

#burger_2 span::before, #burger_2 span::after{
   border-radius: 9px;
   content : '';
   position : absolute;
   width: 100%;
   height: 5px;
   margin-left: -17px;
   background-color : #000000;
}

#burger_2 span::before{
  transform: translateY(-11px);
}

#burger_2 span::after{
  transform: translateY(11px);
>>>>>>> 74148263d917e0bd531007f9f395d1c1538c80c3
}

#pres_sentence{
  border-color: #000000;
  text-align: center;
  margin-top: 8vh; /* viewport height */
  color : #FFFF00;
  font-size: 90px;
  font-family: 'Big Shoulders Display', cursive;
}

#container{
  overflow : hidden;
  display : grid;
  height : 93vh;
  grid-template-rows: 0.1fr 2fr;
}

#rest_container.active{
  overflow: hidden;
  filter:blur(6px);
}

#container.active{
  overflow: hidden;
  filter:blur(6px);
}


#contain1{
  background-color: #000028;
}

#contain2{
  display : grid;
  grid-template-columns: 1.0fr 1.7fr;
}

#contain2_1{
  background-color : #000028;
}

#contain2_2{
  background-color : #000028;
  display : grid;
  grid-template-columns: 0.01fr 1fr;
}

#barre{
  background-color : #000028;
}

#sidebar{
  position: absolute;
  z-index:0;
  width : 400px;
  height: 100%;
  background-color: #FFFF00;
  left: -400px;
  transition: .4s;
}

#sidebar.active{
  left : 0;
  z-index: 5;

}

#texte{
  font-family: 'Big Shoulders Display', cursive;
  font-style: italic;
  font-size: 32px;
  color: #FFFF00;
  margin-left :8%;
  margin-top:17vh;
}
.vertical-line{
  border-right: 1px solid #FFFF00;
  display: inline-block;
  height: 400px;
  margin: 0 20px;
  margin-top: 6vh;
}
>>>>>>> before discard
